@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	src: url(fonts/RobotoMono-Italic-VariableFont_wght.ttf);
}

body {
	color: white;
	background-color: black;
	font-family: 'Roboto Mono';
	font-size: 1.25em;
	overflow: auto;
	text-align: justify;
}

a {
	text-decoration: underline;
	cursor: pointer;
}

.faded {
	opacity: 0.6;
}