@font-face {
    font-family: 'Kreative Square';
    src: url(fonts/KreativeSquare.ttf);
}

body {
    padding: 1vh;
    margin: 0;
    background-color: slategrey;
    overflow:hidden;
}

.screen {
    margin: 0;
    font-family: 'Kreative Square', 'Courier New', Courier, monospace;
    white-space: pre;
    /*font-size: calc(98vh/68);*/
    font-size: calc(98vh/35);
    line-height: 1em;
    letter-spacing: 0;
    cursor: default;
}