* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #e0e0e0;
	overflow:hidden;
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	src: url(fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	src: url(fonts/Noto_Sans/NotoSans-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
	font-family: 'Noto Sans Mono';
	font-style: normal;
	src: url(fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth\,wght.ttf);
}

@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	src: url(fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf);
}
@font-face {
	font-family: 'Noto Serif';
	font-style: italic;
	src: url(fonts/Noto_Serif/NotoSerif-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
	font-family: 'Noto Sans TC';
	font-style: normal;
	src: url(fonts/Noto_Sans_TC/NotoSansTC-VariableFont_wght.ttf);
}

.leftPanel {
	width: 95.5vw;
	height: calc(100vh - 2vw);
	float: left;
	font-family: 'Noto Sans Mono';
	padding-left: 2vw;
	padding-right: 2vw;
	padding-bottom: 2vw;
	display: flex;
	flex-flow: column;
}

.dividingLine {
	width: 0.5vw;
	height: 100vh;
	float: left;
	background-color: black;
}

.rightPanel {
	width: 45.75vw;
	height: calc(100vh - 2vw);
	float: left;
	font-family: 'Noto Sans';
	padding-left: 2vw;
	padding-right: 2vw;
	padding-bottom: 2vw;
	display: flex;
	flex-flow: column;
}

.TC {
	font-family: 'Noto Sans TC';
}

select, option, button, input{
	font-family: inherit;
}

.mono {
	font-family: 'Noto Sans Mono';
}

.leftContainer, .rightContainer {
	flex: 0 1 auto;
	display: flex;
}

.displayContainer {
	display: flex;
	width: 100%;
	background-color: #d0d0d0;
	flex: 1 1 auto;
	overflow: hidden;
}

.displayElementList, .displayComboList, .displayQueue, .elementsDiscoveredList, .combosDiscoveredList, .fullyExploredList {
	width: calc(100%/3);
	float: left;
	white-space:pre;
	overflow: auto;
	text-wrap: wrap;
	max-height: 100%;
	padding: 0 1vw 0 1vw;
}

h1 {
	padding-top: 2vh;
}

h2 {
	padding-top: 1vh;
	margin-bottom: -1rem;
}

.reduceFontSize h2 {
	font-size: 1em;
}

.inverter {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	z-index: 1000;
	background: #fff;
	left: 0;
	mix-blend-mode: difference;
	pointer-events:none;
	opacity: 0;
	transition-duration: 0.125s;
	transition-timing-function: linear;
	transition-property: opacity;
}