body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.main {
    width: 100vw;
    height: 100vh;
}
.left {
    width: 20.75vw;
    height: 100vh;
    float: left;
    z-index: 4;
    position: absolute;
}
.leftcontent {
    height: 100vh;
    width: 20vw;
    background-color: #d8d8d8;
    float: left;
}
.leftshadow {
    width: 0.75vw;
    height: 100vh;
    float: left;
    background-image: linear-gradient(to right, rgba(127, 127, 127, 1), rgba(127, 127, 127, 0));
}
.display {
    margin-left: 20vw;
    width: 80vw;
    height: calc(75vh + 0.75vw);
    float: left;
    position: absolute;
    z-index: 2;
}
.displaycontent {
    height: calc(75vh - 2vw);
    width: 78vw;
    background-color: #e0e0e0;
    overflow: auto;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    padding: 1vw;
}
::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-thumb {
    background: rgba(127, 127, 127, 0.5);
    border-radius: 2vw;
}
.displayshadow {
    height: 0.75vw;
    width: 80vw;
    background-image: linear-gradient(to bottom, rgba(127, 127, 127, 1), rgba(127, 127, 127, 0));
}
.buttons {
    margin-left: 20vw;
    margin-top: 75vh;
    height: 25vh;
    width: 80vw;
    background-color: #d8d8d8;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 0.25vw;
}
.button {
    height: calc((25vh - 0.5vw) / 3 - 0.5vw);
    width: calc(79.5vw / 7 - 0.5vw);
    margin: 0.25vw;
    border: solid;
    border-width: 0.25vw;
    border-color: #d0d0d0;
    border-radius: 0.5vw;
    background-color: #e0e0e0;
}
.button:hover {
    border-color: #c8c8c8;
    background-color: #d8d8d8;
}
.button:disabled {
    border-color: #b8b8b8;
    background-color: #c8c8c8;
}
.button:focus {
    border-color: #b8b8b8;
    outline: 0;
}
.button:active {
    border-color: #c0c0c0;
    background-color: #d0d0d0;
}