body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Open Sans";
}
@font-face {
    font-family: "Open Sans";
    src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}
.main {
    width: 100vw;
    height: 100vh;
}
.left {
    width: 20.75vw;
    height: 100vh;
    float: left;
    z-index: 8;
    position: absolute;
    margin-right: 79.25vw;
}
.right {
    width: 20.75vw;
    height: 100vh;
    float: right;
    margin-left: 79.25vw;
    z-index: 8;
    position: absolute;
}
.leftcontent {
    height: 100vh;
    width: 20vw;
    background-color: #d8d8d8;
    float: left;
}
.rightcontent {
    height: 100vh;
    width: 20vw;
    background-color: #d8d8d8;
    float: right;
}
.leftshadow {
    width: 0.75vw;
    height: 100vh;
    float: left;
    background-image: linear-gradient(to right, rgba(127, 127, 127, 1), rgba(127, 127, 127, 0));
}
.rightshadow {
    width: 0.75vw;
    height: 100vh;
    float: right;
    background-image: linear-gradient(to left, rgba(127, 127, 127, 1), rgba(127, 127, 127, 0));
}
.display {
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    height: calc(75vh + 0.75vw);
    float: left;
    position: absolute;
    z-index: 4;
}
.displaycontent {
    height: calc(75vh - 2vw);
    width: 58vw;
    background-color: #e0e0e0;
    overflow: auto;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.5vw;
    padding: 1vw;
}
::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-thumb {
    background: rgba(127, 127, 127, 0.5);
    border-radius: 2vw;
}
.displayshadow {
    height: 0.75vw;
    width: 60vw;
    background-image: linear-gradient(to bottom, rgba(127, 127, 127, 1), rgba(127, 127, 127, 0));
}
.buttons {
    margin-left: 20vw;
    margin-top: 75vh;
    height: calc(25vh - 0.5vw);
    width: 79.5vw;
    background-color: #d8d8d8;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 0.25vw;
}
.button {
    height: calc((25vh - 0.5vw) / 3 - 0.5vw);
    width: calc(79.5vw / 7 - 0.5vw);
    margin: 0.25vw;
    border: solid;
    border-width: 0.25vw;
    border-color: #d0d0d0;
    border-radius: 0.5vw;
    background-color: #e0e0e0;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover {
    border-color: #c8c8c8;
    background-color: #d8d8d8;
}
.button:disabled {
    border-color: #b8b8b8;
    background-color: #c8c8c8;
}
.button:focus {
    border-color: #b8b8b8;
    outline: 0;
}
.button:active {
    border-color: #c0c0c0;
    background-color: #d0d0d0;
}
.button .tooltip {
    width: 15vw;
    background-color: #d8d8d8;
    text-align: center;
    padding: 1vw;
    position: absolute;
    z-index: 20;
    font-family: "Open Sans";
    font-size: 1vw;
    border-style: solid;
    border-width: 0.25vw;
    border-color: #c8c8c8;
    bottom: 27.5vh;
    border-radius: 0.5vw;
    opacity: 0;
    transition: opacity 0.5s;
    color: black;
}
.button:hover .tooltip {
    opacity: 1;
}

.location, .time {
    padding: 0.5vw;
    width: 20vw;
    font-size: 1.5vw;
    height: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.location {
    color: #707070;
}
.time {
    color: #353535;
}

.devtext {
    font-family: 'Consolas';
}