.leftcontent {
	background-color: hsl(33.4,79.5%,84.7%);
}
.rightcontent {
	background-color: hsl(33.4,79.5%,84.7%);
}
.leftshadow {
	background-image: linear-gradient(to right, rgba(123, 108, 88, 1), rgba(127, 127, 127, 0));
}
.rightshadow {
	background-image: linear-gradient(to left, rgba(123, 108, 88, 1), rgba(127, 127, 127, 0));
}
.displaycontent {
	background-color: hsl(33.4,79.5%,87.8%);
}
::-webkit-scrollbar-thumb {
	background: rgba(123, 108, 88, 0.5);
}
.displayshadow {
	background-image: linear-gradient(to bottom, rgba(123, 108, 88, 1), rgba(127, 127, 127, 0));
}
.buttons {
	background-color: hsl(33.4,79.5%,84.7%);
}
.button {
	border-color: hsl(33.4,79.5%,81.6%);
	background-color: hsl(33.4,79.5%,87.8%);
	color: #404040;
}
.button:not([disabled]):hover {
	border-color: hsl(33.4,79.5%,78.4%);
	background-color: hsl(33.4,79.5%,84.7%);
}
.button:disabled {
	border-color: hsl(33.4,79.5%,72.2%);
	background-color: hsl(33.4,79.5%,78.4%);
}
.button:not([disabled]):focus {
	border-color: hsl(33.4,79.5%,72.2%);
}
.button:not([disabled]):active {
	border-color: hsl(33.4,79.5%,75.3%);
	background-color: hsl(33.4,79.5%,81.6%);
}
.button .tooltip {
	background-color: hsl(33.4,79.5%,84.7%);
	border-color: hsl(33.4,79.5%,78.4%);
	color: black;
}
.location {
	color: #707070;
}
.time {
	color: #353535;
}
.input {
	background-color: hsl(33.4,79.5%,91%);
}
select {
	background-color: hsl(33.4,79.5%,91%);
}

.kkitaanik {
	color: #a75e79
}

.fader {
	background: #fff;
}