@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: normal;
    src: url(Fonts/NotoSerif-Regular.ttf);
}
@font-face {
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: normal;
    src: url(Fonts/NotoSerif-Italic.ttf);
}
@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: bold;
    src: url(Fonts/NotoSerif-Bold.ttf);
}
@font-face {
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: bold;
    src: url(Fonts/NotoSerif-BoldItalic.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: "Noto Serif";
    font-size: 1.25em;
    text-indent: 2em;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    /*max-width: calc(100vh * 1.5);*/
}

a {
    color: #808080;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: #a0a0a0;
}

.splatter1 {
    width: 66.7%;
    opacity: 0;
    z-index: 10;
    position: fixed;
    top: 2vh;
    right: 1vw;
    pointer-events: none;
}

.splatter2 {
    width: 75%;
    opacity: 0;
    z-index: 10;
    position: fixed;
    bottom: 0;
    right: 10vw;
    pointer-events: none;
}